@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dancing+Script&family=Kaushan+Script&family=Montserrat:ital,wght@0,900;1,400&family=Niconne&display=swap');

* {
     padding: 0px;
     margin: 0px;
}

.main {
     background-color: black;
     height: 2000px;

}

#design {
     margin: 0% 5% 0% 5%;
     height: 1800px;
     width: 90%;
     background-color: blueviolet;
     /* border-radius: 30px; */
}

.intro {
     padding-top: 20%;
     background-color: blue;
     text-align: center;
     height: 300px;
     /* background-image: url(https://media.istockphoto.com/id/1345886912/video/doodle-animation-of-unrequited-love-for-overlay.jpg?b=1&s=640x640&k=20&c=p3eXAwjSIK3FRAVfC9z65OE5fab1srVZyu4K5Chto4U=); */
}

.intro>h1 {
     font-family: 'Archivo Black', sans-serif;
     color: wheat;
     font-size: 40px;
     font-weight: 900;
}

.intro>p {
     /* font-family: 'Dancing Script', cursive;
     font-family: 'Kaushan Script', cursive; */
     font-family: 'Montserrat', sans-serif;
     /* font-family: 'Niconne', cursive; */
     color: wheat;
}

.intro>p>a {
     color: white;
}

.fa-brands {
     font-size: 30px;
     padding: 5px;
     margin: 5px;
}

#myimg {
     height: 190px;
     width: 190px;
     border-radius: 50%;
     margin: 5px;
}

.img-circle {
     height: 200px;
     width: 200px;
     background-color: crimson;
     border-radius: 50%;
     position: relative;
     left: 20%;
     /* right: 40%; */
     top: 120px
}

.about {
     /* 
     position: absolute;
     top: 700px */
}

.about>p {
     text-align: center;
     color: white;
}