*{
  margin: 0px;
  padding: 0px;
}

.logo{
  font-size: 40px;
}
.fname{
  color:red;
  font-family: showcard gothic;
  font-weight: 300;
  font-size: 100px;
}
.lname{
  color:chartreuse;
  font-family:algerian ;
}