* {
                    padding: 0px;
                    margin: 0px;
}

body {
                    background-color: black;
}

.sidebar {
                    position: fixed;
                    height: 100vh;
                    width: 25%;
                    background-color: rgb(223, 223, 223);
}

.head {
                    padding: 40px;
}

.head>h1 {
                    font-size: 20px;
                    font-weight: 400;
                    padding: 8px;
                    color: black;
}

.head>hr {
                    margin-top: 6px;
                    border: 2px solid black;
}

.head>p {
                    margin-left: 150px;
                    margin-top: 4px;
                    font-size: 5px;
                    font-weight: 10;
                    color: black;
                    padding: 0px;
                    text-align: left;
}

.nav {
                    padding: 40px;
}

.nav>hr {
                    margin-top: 6px;
                    border: 2px solid black;
}

.nav ul li {
                    list-style-type: none;
                    padding: 10px;


}

.nav ul {
                    margin-bottom: 50px;
                    margin-top: 5px;
}

.nav a {
                    color: black;
                    text-decoration: none;

}

/*personal info */
#personal-info {
                    width: 1000px;
                    height: 700px;
                    /* background-color: white; */
                    position: relative;
                    left: 25%;

}

.info {
                    padding-top: 70px;
                    margin-left: 450px;
                    /* border: 2px solid black; */
                    display: flex;
                    /* width: 150px; */
                    height: 200px;
}

.myname>p,
.name {
                    padding: 10px 0px 10px 180px;
                    color: white;
                    text-align: right;
                    /* padding-bottom: 15px; */
                    font-weight: 900;
}

.myname>p {
                    font-size: 15px;
                    font-weight: 10;
}


.myname>hr {
                    margin-top: 6px;
                    border: 2px solid rgb(255, 255, 255);
}

.myimg {
                    margin-left: 30px;
                    border: 3px solid white;
                    padding: 10px;
}

.about h4 {
                    color: white;

                    margin: 30px 0px 0px 450px;
                    text-align: right;
                    margin-right: 60px;
}

.about p {
                    color: white;
                    /* background-color: blue;/ */
                    margin: 30px 50px 0px 450px;
}

/*education*/
#education {
                    padding-top: 70px;
                    width: 950px;
                    height: 700px;
                    position: relative;
                    left: 25%;
                    /* background-color: wheat; */
}

#education>.edu {
                    text-align: center;
                    background-color: white;
                    color: black;
                    width: 200px;
                    padding: 5px;
                    margin-left: 50%;
}

.cource {
                    padding-top: 60px;
                    margin-left: 230px;
                    margin-right: 100px;
}

.cource h1,
p {
                    margin-top: 5px;
                    padding: 5px;
                    text-align: right;
                    color: rgb(159, 159, 159);
}

.cource>hr {
                    float: right;
                    border: 2px solid rgb(255, 255, 255);
}

.cource>h1 {
                    color: white;
}

/*work experience*/
#experience {
                    padding-top: 50px;
                    width: 950px;
                    height: 700px;
                    position: relative;
                    left: 25%;
                    /* background-color: wheat; */
}

#experience>.exp {
                    text-align: center;
                    background-color: white;
                    color: black;
                    width: 400px;
                    padding: 5px;
                    margin-left: 40%;
}

/* Skill*/
#skill {
                    padding-top: 50px;
                    width: 950px;
                    height: 700px;
                    position: relative;
                    left: 25%;
                    /* background-color: blue; */
}

.pskill,
.sskill {
                    text-align: center;
                    background-color: white;
                    color: black;
                    width: 300px;
                    padding: 10px;
                    margin-left: 40%;

}

.sskill {
                    position: absolute;
                    top: 390px;
}

.soft-skill {
                    margin-top: 50px;
}

.skill1,
.skill2,
.skill3,
.skill4 {
                    display: inline-block;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    /* background-color: burlywood; */
                    margin: 100px 10px 20px 100px;
                    border: 7px solid white;
}

.fa-brands {
                    font-size: 65px;
                    margin: 20px 25px;
                    color: white;
}

.fa-solid {
                    font-size: 50px;
                    margin: 25px 20px;
                    color: white;
}

/* Project */
#work {
                    padding-top: 50px;
                    width: 950px;
                    height: 700px;
                    position: relative;
                    left: 25%;
                    /* background-color: blue; */
}

.pro {
                    text-align: center;
                    background-color: white;
                    color: black;
                    width: 170px;
                    padding: 5px;
                    margin-left: 50%;
}

.project1 {
                    margin: 80px 10px 10px 450px;
                    width: 500px;
                    height: 400px;
                    /* background-color: darkolivegreen; */
                    display: flex;
}

.pro-detial>h1 {
                    color: white;
                    padding-top: 30px;
                    text-align: right;
}

.pro-detial>hr {
                    border: 2px solid white;
                    margin: 10px 0px 30px 0px;
}

.pro-detial>p {
                    color: rgb(175, 175, 175);
}

/*Contact*/
#contact {
                    padding-top: 50px;
                    width: 950px;
                    height: 300px;
                    position: relative;
                    left: 25%;
                    /* background-color: blue; */
}

.con {
                    text-align: center;
                    background-color: white;
                    color: black;
                    width: 170px;
                    padding: 5px;
                    margin-left: 50%;
}

.icon {
                    margin: 80px 0px 50px 180px;
}