* {
                    padding: 0px;
                    margin: 0px;
}

body {
                    background-color: black;
                    color: white;
                    font-family: 'poppins', sans-serif;
                    /* overflow: hidden; */
}

.menu-btn {
                    position: absolute;
                    left: 13.5%;
}

#menu {
                    font-size: 16px;
                    padding-left: 10px;
                    position: absolute;
}

.head {
                    z-index: 1;
                    position: fixed;
                    background-color: rgba(255, 255, 255, 0.145);
}

header {
                    display: flex;
                    margin: 0% 10% 1% 10%;
                    padding: 20px;
                    height: 35px;
                    /* background-color: rgb(233, 227, 227); */
                    /* position: fixed; */

}

.logo {
                    position: absolute;
                    left: 45%;
                    right: 45%;
}

.name {
                    position: absolute;
                    right: 17%;
}

a {
                    text-decoration: none;
                    transition: 0.3s;
                    color: white;
                    padding: 30px;
}

a:hover {
                    color: rgb(0, 65, 100);
}

ul {
                    list-style-type: none;
                    padding: 0px;
                    margin: 0px;
}


hr {
                    width: 76vw;
                    position: absolute;
                    right: 10%;
                    left: 10%;
}

.nav-bar {
                    display: flex;
                    width: 100vw;
                    /* background-color: aqua; */
                    height: 4vh;
                    /* margin: 0% 10% 1% 0%; */
                    padding: 20px;
                    /* z-index: 1; */
                    /* position: fixed; */
                    /* background-color: rgba(0, 0, 0, 0.348); */
}

.car-name {
                    position: absolute;
                    left: 10%;
                    /* right: 10%; */
                    width: 10vw;
}

ul li {
                    display: inline-block;
}

.nav {
                    position: absolute;
                    right: 15%;
}

.container img {
                    position: absolute;
                    top: 21%;
}