* {
                    padding: 0px;
                    margin: 0px;
}

body {
                    background-color: black;
                    color: white;
}

.home {
                    background-color: transparent;
                    position: absolute;
                    top: 10px;
                    width: 98%;
                    padding: 10px;
}

.home>h1 {
                    padding: 12% 10% 0% 20%;
                    font-size: 30px;
                    font-weight: bolder;

}

.para {
                    padding: 3% 30% 0% 40%;
}

/* p {
                    padding: 3% 30% 0% 40%;
} */

#msg {
                    padding: 3% 10% 0% 30%;
}

#email {
                    width: 23vw;
                    border: 0.9px solid gray;
                    border-radius: 3px;
                    height: 20px;
                    padding: 12px;
                    background-color: rgba(50, 47, 47, 0.367);
                    color: white;
                    margin: 1% 0% 0% 30%;
}

#started {
                    background-color: rgb(196, 3, 3);
                    width: 150px;
                    font-size: 17px;
                    font-weight: bolder;
                    border: 0.9px solid gray;
                    border-radius: 3px;
                    height: 45px;
                    padding: 12px;
                    color: white;
                    margin: 1% 0% 0% 0%;
                    border: 0.9px solid rgb(145, 3, 3);
}

#started:hover {
                    background-color: rgb(145, 3, 3);
}

nav {
                    display: flex;
                    /* background-color: aliceblue; */
                    filter: brightness(100%);
}

.brand {
                    position: relative;
                    left: 10%;
                    top: 2%
}

.lan {
                    position: absolute;
                    right: 18%;
                    top: 3.5%;
}

#lang {
                    background-color: rgba(128, 128, 128, 0.17);
                    color: white;
                    padding: 4px 20px 4px 20px;
                    border-radius: 3px;
}

.sign {
                    position: absolute;
                    right: 12%;
                    top: 3.5%;

}

#signin:hover {
                    background-color: rgb(145, 3, 3);
}

#signin {
                    background-color: rgb(196, 3, 3);
                    color: white;
                    padding: 5px 10px 5px 10px;
                    border-radius: 5px;
}

.front {
                    height: 600px;
                    background-image: url("bck img.jpg");
                    background-size: cover;
                    filter: brightness(30%);
                    /* background-blend-mode: saturation; */
                    /* border-bottom: 9px solid gray; */

}

.headline {
                    height: 530px;
                    width: 100%;
                    border-top: 7px solid rgba(128, 128, 128, 0.311);
                    border-bottom: 7px solid rgba(128, 128, 128, 0.311);
                    /* background-color: aliceblue; */
}

.content h1 {
                    margin: 10% 0% 0% 10%;
}


h1 {

                    font-weight: bolder;
                    font-size: 35px;
}

.prag1 {
                    padding: 3% 0% 0% 10%;
                    width: 600px;
}

.h1 {
                    padding-right: 40vh;
                    width: 33vw;
                    font-weight: bolder;
                    font-size: 35px;
                    padding-top: 20px;
                    /* background-color: aliceblue; */
}

.pragr {
                    padding: 3% 15% 0% 10%;
                    /* background-color: aliceblue; */
}

.image {
                    position: absolute;
                    left: 3%;

}

.image1 {
                    position: absolute;
                    right: 10%;
                    top: 230%;
}

#_h1 {
                    position: absolute;
                    left: 0%;
                    padding-left: 22vh;
}

.tv {
                    position: absolute;
                    right: 5%;
}