* {
                    padding: 0px;
                    margin: 0px;
}

body {
                    background-color: wheat;
                    color: white;
}

.div {
                    width: 100vw;
                    height: 100vh;
                    /* margin: 0% 2% 0% 2%; */
                    background-color: aquamarine;
                    display: flex;
}

.div1 {
                    background-color: rgb(239, 239, 239);
                    width: 50vw;
                    height: 100vh;
}

.div2 {
                    background-color: rgba(255, 166, 0, 0.914);
                    width: 50vw;
                    height: 100vh;
}

.sign-in {
                    margin: 6% 0% 0% 30%;
                    background-color: rgba(255, 166, 0, 0.914);
                    width: 35vw;
                    height: 83vh;
                    border-radius: 45px 0px 0px 45px;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.553);
}

.sign-up {
                    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.853);
                    margin: 6% 0% 27.2% 0%;
                    background-color: rgb(239, 239, 239);
                    width: 35vw;
                    height: 83vh;
                    border-radius: 0px 45px 45px 0px;
}

.sign-in>h1 {
                    padding: 2em 2em 0em 2em;
                    font-size: 40px;
                    font-weight: 900;
}

.sign-in>p {
                    padding: 5em 10em 2em 11em;
                    width: 250px;
}

#btn {
                    margin: 5vh 0vh 0vh 25vh;
                    border-radius: 20px;
                    padding: 15px;
                    color: white;
                    font-size: 14px;
                    width: 150px;
                    background-color: rgba(255, 166, 0, 0.914);
                    border: 0.5px solid rgba(255, 166, 0, 0.397);
                    box-shadow: 3px 3px 5px rgb(196, 127, 0);
}

#btn:hover {
                    cursor: auto;
                    box-shadow: -3px 3px 15px rgb(196, 127, 0), 0px 0px 0px;
}

.sign-up ul li {
                    list-style-type: none;
                    display: inline-block;
                    padding: 7px;
}

.sign-up>ul {
                    margin-left: 170px;
}

.sign-up a {
                    text-decoration: none;
                    color: black;
                    padding: 10px;
                    border-radius: 50%;
                    /* border: 0.3px solid rgba(196, 196, 196, 0.668); */
                    /* background-color: rgba(255, 255, 255, 0.207); */
                    box-shadow: -3px 4px 10px rgba(193, 193, 193, 0.548);
}

a:hover {
                    box-shadow: 3px 2px 10px rgb(193, 193, 193);
}

.fa-brands {
                    font-size: 20px;
                    margin: 2px;

}

.sign-up>h1 {
                    padding: 70px 0px 30px 150px;
                    color: black;
}

form {
                    margin-top: 5vh;
}

input {
                    background-color: rgb(239, 239, 239);
                    border-radius: 15px;
                    padding: 12px;
                    width: 20vw;
                    margin: 5px 0px 5px 100px;
                    border: 0.1px solid rgba(134, 134, 134, 0.342);
                    box-shadow: 3px 3px 15px rgba(108, 108, 108, 0.332);
}

#btn1 {
                    margin: 3vh 0vh 0vh 25vh;
                    border-radius: 20px;
                    padding: 15px;
                    color: black;
                    font-size: 14px;
                    width: 150px;
                    background-color: rgb(239, 239, 239);
                    border: 0.5px solid rgba(134, 134, 134, 0.342);
                    /* box-shadow: 3px 3px 15px rgba(108, 108, 108, 0.332), 0px 0px 0px; */
                    /* border: 0.5px solid rgba(0, 0, 0, 0.389); */
                    /* box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.289); */
}

#btn1 :hover {
                    box-shadow: -15px 15px 5px rgb(0, 0, 0);
}


input:hover {
                    box-shadow: -3px 3px 15px rgba(98, 98, 98, 0.389), 0px 0px 0px;

}